*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    width: 100%;
    font-family: monospace;
    font-size: 12px;
    padding-bottom: 80px;
    color: #2B2D2E;

}

header,section{
    max-width: 960px;
    margin: 0 auto;
}

header.user_info {
    position: relative;
    height: 100px;
    width: 100%;
    padding: 10px 2%;
    border-top: 20px solid #F2F2F2;
}
header .position{
    position: absolute;
    right: 15px;
    bottom: 8px;
}
header.user_info img {
    height: 60%;
    border-radius: 50%;
}

header.user_info div {
    display: inline-block;
}

.user_name {
    font-size: 14px;
    font-weight: bold;
}

.upload_time {
    font-size: 14px;
    color: #969696;
}


header,section{
    max-width: 960px;
    margin: 0 auto;
}
section{
    width: 100%;
    padding:8px 3%;
}
section.state_info{
    padding-top: 10px;
    font-size: 14px;
}
section.state_info img{
    width:100%;
}
section.state_info p{
    line-height:21px;
    padding-top: 10px;
}

section.like_count {
    position:absolute;
    right:10px;
    text-align: right;
}

section.like_count img,section.like_count span {
    vertical-align: middle;
}
section.like_count img{
    width: 21px;
}
section.like_count span{
    color: #969696;
}

p {
    white-space: pre-wrap;
    word-wrap: break-word;
}


footer{
    width: 100%;
    padding:10px 1%;
    background: #FFFFFF;
    height:76px;
    position: fixed;
    top: 0;
    left:0;
}
footer img{
    width: 60px;
    height: 60px;
}
footer img,footer div{
   vertical-align: middle;
}

#p1{
    font-size: 18px;
    color: #2B2D2E;
}

#p2{
    font-size: 14px;
    color: #434444;
}

.footer_btn{
    margin: 7px 0;
    float: right;
}
body{
    padding-top: 60px;
}

.download_float_box{
    position: fixed;
    bottom: 60px;
    width: 100%;
    text-align: center;
    height: 30px;
}

.download_btn{
    width:72px;
    height:26px;
    background:#FFCE00;
    border-radius:13px;
    border: 0;
    font-size: 12px;
    outline: none;
    color: #252728!important;
}